<html>


<head>
<script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Leisure Time</a>
    </div>
    <ul class="nav navbar-nav">
      
      {% if request.user.is_authenticated %}
	  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Libros<span class="caret"></span></a>
        <ul class="dropdown-menu">
          
		  <li><a href="/libros/user/listarpuntuados">Libros puntuados</a></li>
          <li><a href="/libros/user/listarnopunt">Puntuar libros no puntuados</a></li>
          
        </ul>
		<li><a href="/libros/recomienda/">Recomiendame libros</a></li>
      </li>
	  
	  {%endif%}
      
      <li><a href="/libros/todos">Ver todos los libros</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
	{% if request.user.is_authenticated %}
      <li><a href="/user/salir/"><span class="glyphicon glyphicon-log-in"></span> Cerrar sesion</a></li>

    {% else %}
	
	<li><a href="/user/registrar/"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
      <li><a href="/user/entrar/"><span class="glyphicon glyphicon-log-in"></span> Iniciar sesion</a></li>

	{%endif%}
	</ul>
  </div>
</nav>


<div>

{%block contenido%}{%endblock%}

</div>

</body>

</html>